<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Danh sách Tỉnh</title>
</head>

<body>
    <h1>Danh sách Tỉnh</h1>
    <p>
        <a th:href="@{/provinces/create}">Tạo mới tỉnh</a>
    </p>
    <p>
        <a th:href="@{/customers}">Xem danh sách khách hàng</a>
    </p>
    <table border="1">
        <thead>
            <tr>
                <th>Tên Tỉnh</th>
                <th>Xem chi tiết</th>
                <th>Sửa</th>
                <th>Xóa</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${provinces}">
                <td th:text="${p.name}"></td>
                <td><a th:href="@{/provinces/view/__${p.id}__}">Xem</a></td>
                <td><a th:href="@{/provinces/edit/__${p.id}__}">Sửa</a></td>
                <td><a th:href="@{/provinces/delete/__${p.id}__}">Xóa</a></td>
            </tr>
        </tbody>
    </table>
</body>

</html>