<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tạo mới Khách hàng</title>
</head>

<body>
    <h1>Tạo mới Khách hàng</h1>
    <p>
        <a th:href="@{/customers}">Quay lại danh sách khách hàng</a>
    </p>
    <div th:if="${message}">
        <p th:text="${message}"></p>
    </div>
    <form th:action="@{/customers/create}" th:object="${customer}" method="post">
        <table>
            <tr>
                <td>Tên:</td>
                <td><input type="text" th:field="*{firstName}" /></td>
            </tr>
            <tr>
                <td>Họ:</td>
                <td><input type="text" th:field="*{lastName}" /></td>
            </tr>
            <tr>
                <td>Tỉnh:</td>
                <td>
                    <select th:field="*{province}">
                        <option th:each="p : ${provinces}" th:value="${p.id}" th:text="${p.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Tạo mới" /></td>
            </tr>
        </table>
    </form>
</body>

</html>