<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Danh sách Khách hàng</title>
</head>

<body>
    <h1>Danh sách Khách hàng</h1>
    <p>
        <a th:href="@{/customers/create}">Tạo mới khách hàng</a>
    </p>
    <p>
        <a th:href="@{/provinces}">Xem danh sách tỉnh</a>
    </p>
    <table border="1">
        <thead>
            <tr>
                <th>Tên</th>
                <th>Họ</th>
                <th>Tỉnh</th>
                <th>Sửa</th>
                <th>Xóa</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="c : ${customers}">
                <td th:text="${c.firstName}"></td>
                <td th:text="${c.lastName}"></td>
                <td th:text="${c.province != null} ? ${c.province.name} : 'Không có'"></td>
                <td><a th:href="@{/customers/edit/__${c.id}__}">Sửa</a></td>
                <td><a th:href="@{/customers/delete/__${c.id}__}">Xóa</a></td>
            </tr>
        </tbody>
    </table>
</body>

</html>