<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>

<body>
    <h1>Add New User</h1>
    <form th:action="@{/add}" th:object="${user}" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" />
        </div>
        <br />
        <div>
            <label for="age">Age:</label>
            <input type="number" id="age" th:field="*{age}" />
        </div>
        <br />
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" />
        </div>
        <br />
        <button type="submit">Save</button>
    </form>
    <br />
    <a th:href="@{/}">Back to list</a>
</body>

</html>