<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{login.title}">Login</title>
</head>

<body>
    <h1 th:text="#{login.title}">Login Page</h1>

    <p th:text="#{login.language}">Language:</p>
    <a href="?lang=en">English</a> |
    <a href="?lang=haw">Hawaii</a> |
    <a href="?lang=vi">Tiếng Việt</a> |
    <a href="?lang=ja">日本語</a>

    <form method="post" action="/do-login">
        <label th:text="#{login.username}">Username:</label>
        <input type="text" name="username" /><br />

        <label th:text="#{login.password}">Password:</label>
        <input type="password" name="password" /><br />

        <button type="submit" th:text="#{login.submit}">Login</button>
    </form>
</body>

</html>